body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1b2a;
}

.Title {
    color: #e0e1dd;

    font-family: "Huninn", sans-serif;
    text-align: center;

    border: 2px solid #415a77;
    border-radius: 5px;
    padding: 20px;
}

.Title h4 {
    display: inline-block;
    text-align: center;
    animation: TitleSmallText 5s ease-in-out infinite;
}

@keyframes TitleSmallText {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.Controls {
    background: linear-gradient(to bottom right, #415a77, #0d1b2a);

    align-self: stretch;

    border: 1.5ch double #1b263b;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 2ch;
    padding: 1ch 1ch;
}

.ReactorPanel {
    font-family: "Huninn", sans-serif;
    color: #e0e1dd;

    border: 2px solid #778da9;
    border-radius: 5px;
    padding: 1ch 1ch;

    grid-column: 1 / -1;
    box-shadow: 0 0 2ch #1b263b;
}

.TempControls {
    font-family: "Huninn", sans-serif;
    color: #e0e1dd;
    text-align: center;

    border: 2px solid #778da9;
    border-radius: 5px;
    padding: 1ch 1ch;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    box-shadow: 0 0 2ch #1b263b;
}

.RodControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Rods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    text-align: left;
}

.Rods h4 {
    margin: 0;
}

.Slider {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin-right: 25%;
}

.Slider input {
    writing-mode: vertical-lr;
    direction: rtl;

    height: 120px;
    width: 20px;

    appearance: none;
    background: transparent;
}

.Slider input::-webkit-slider-runnable-track {
    width: 8px;
    background: #1b263b;
    border: 2px solid #778da9;
    border-radius: 5px;
}

.Slider input::-webkit-slider-thumb {
    appearance: none;

    width: 20px;
    height: 20px;

    background: #e0e1dd;
    border: 2px solid #778da9;
    border-radius: 50%;

    cursor: pointer;
}

.Slider input::-webkit-slider-thumb:hover {
    background: #778da9;

    box-shadow: 0 0 2ch #e0e1dd;
}

.Coolants {
    font-family: "Huninn", sans-serif;
    color: #e0e1dd;

    border: 2px solid #778da9;
    border-radius: 5px;
    padding: 1ch 1ch;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2ch;

    box-shadow: 0 0 2ch #1b263b;
}

.Coolant1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Coolant1 button {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 4px inset #778da9;

    background: #1b263b;

    box-shadow: 0 0 10px #000;

    animation: CoolantAnim 5s ease-in-out infinite;
}

.Coolant1 button:hover {
    border: 4px outset #778da9;
    box-shadow: 0 0 2ch #e0e1dd;
}

.Coolant2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Coolant2 button {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 4px inset #778da9;

    background: #1b263b;

    box-shadow: 0 0 10px #000;

    animation: CoolantAnim 5s ease-in-out infinite;
}

.Coolant2 button:hover {
    border: 4px outset #778da9;
    box-shadow: 0 0 2ch #e0e1dd;
}

@keyframes CoolantAnim {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Feedwater {
    font-family: "Huninn", sans-serif;
    color: #e0e1dd;

    border: 2px solid #778da9;
    border-radius: 5px;
    padding: 1ch 1ch;

    box-shadow: 0 0 2ch #1b263b;
}

.Feedwater button {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 4px inset #778da9;

    background: #1b263b;

    box-shadow: 0 0 10px #000;

    animation: CoolantAnim 5s ease-in-out infinite;
}

.Feedwater button:hover {
    border: 4px outset #778da9;
    box-shadow: 0 0 2ch #e0e1dd;
}

.ReliefValves { 
    font-family: "Huninn", sans-serif;
    color: #e0e1dd;

    border: 2px solid #778da9;
    border-radius: 5px;
    padding: 1ch 1ch;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1ch;
    padding: 1ch;
    text-align: center;

    box-shadow: 0 0 2ch #1b263b;
}

.ReliefValves h2 {
    grid-column: 1 / -1;
}

.ReliefValves button { 
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 4px inset #778da9;

    background: #1b263b;

    box-shadow: 0 0 10px #000;

    animation: CoolantAnim 5s ease-in-out infinite;
}

.ReliefValves button:hover {
    border: 4px outset #778da9;
    box-shadow: 0 0 2ch #e0e1dd;
}
